@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArmataRegular';
    src: url('fonts/Armata-Regular-webfont.eot');
    src: url('fonts/Armata-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Armata-Regular-webfont.woff') format('woff'),
         url('fonts/Armata-Regular-webfont.ttf') format('truetype'),
         url('fonts/Armata-Regular-webfont.svg#ArmataRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PacificoRegular';
    src: url('fonts/Pacifico-webfont.eot');
    src: url('fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Pacifico-webfont.woff') format('woff'),
         url('fonts/Pacifico-webfont.ttf') format('truetype'),
         url('fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LaneNarrowRegular';
    src: url('fonts/LANENAR_-webfont.eot');
    src: url('fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LANENAR_-webfont.woff') format('woff'),
         url('fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('fonts/LANENAR_-webfont.svg#LaneNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LaneUpperRegular';
    src: url('fonts/LANEUP__-webfont.eot');
    src: url('fonts/LANEUP__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LANEUP__-webfont.woff') format('woff'),
         url('fonts/LANEUP__-webfont.ttf') format('truetype'),
         url('fonts/LANEUP__-webfont.svg#LaneUpperRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LanePoshRegular';
    src: url('fonts/LANEPOSH-webfont.eot');
    src: url('fonts/LANEPOSH-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LANEPOSH-webfont.woff') format('woff'),
         url('fonts/fonts/LANEPOSH-webfont.ttf') format('truetype'),
         url('fonts/LANEPOSH-webfont.svg#LanePoshRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700,300);
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



html, body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}

a {
    text-decoration: none;

}
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}


/*                                       
 _   _ _____    _    ____  _____ ____  
| | | | ____|  / \  |  _ \| ____|  _ \ 
| |_| |  _|   / _ \ | | | |  _| | |_) |
|  _  | |___ / ___ \| |_| | |___|  _ < 
|_| |_|_____/_/   \_|____/|_____|_| \_\

*/                                     



#header-wrapper {
    width: 750px;
    height: 306px;
    /*padding-left: 100px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}
#header-logo {
    float: left;
    background-image:url('logo.png');
    background-repeat:no-repeat;
    background-position: left;
    background-origin: content-box;
    height: 306px;
    width: 250px;
}
#header-content {
    float: left;
    width: 450px;
    color: white;
    height: 100%;
    padding-left: 50px;
    margin-top: -28px;
}
#header-content h1 {
    font: 60px/68px 'BebasNeueRegular', Arial, sans-serif;
    letter-spacing: 0;
    height: 40px;
}
#header-content hr {
    background-color: white;
    height: 2px;
    margin-top: -6px;
}
#header-content p {
    text-align:justify;
    font: 19px 'ArmataRegular', Arial, sans-serif;
}
#header-content a {
    font-weight: 10px;
    font: 20px 'PacificoRegular', Arial, sans-serif;
    letter-spacing: 0;
}

#header {
    background-image:url('bigback.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    height: 550px;
    width: 100%;
    background-color: #FFFEF5;
}



/*                  
 ____   ___  ______   __
| __ ) / _ \|  _ \ \ / /
|  _ \| | | | | | \ V / 
| |_) | |_| | |_| || |  
|____/ \___/|____/ |_|  
                        
*/


#mainbody {
    height: 2100px;
    width: 100%;
    background-color: white;
    margin-top: -40px;
}

/*                                                           
__        ___   _  ___   __        _______      _    ____  _____ 
\ \      / | | | |/ _ \  \ \      / | ____|    / \  |  _ \| ____|
 \ \ /\ / /| |_| | | | |  \ \ /\ / /|  _|     / _ \ | |_) |  _|  
  \ V  V / |  _  | |_| |   \ V  V / | |___   / ___ \|  _ <| |___ 
   \_/\_/  |_| |_|\___/     \_/\_/  |_____| /_/   \_|_| \_|_____|
*/


#trapezoid-left {
    margin-top: -110px;
    float: left;
    border-bottom: 100px solid #aeacba;
    border-right: 175px solid transparent;
    height: 0;
    width: 50%;
    margin-left: -175px;
}

#trapezoid-right {
    margin-top: -110px;
    float: right;
    border-bottom: 100px solid #aeacba;
    border-left: 175px solid transparent;
    height: 0;
    width: 50%;
    margin-right: -175px;
}
#whoweare {
    height: 900px;
    background-color: #aeacba;
    padding-top: 10px;
}
#whoweare h1 {
    font: 50px 'LaneUpperRegular', Arial, sans-serif;
    letter-spacing: 0;
    text-align: center;
}
#whoweare-triangle {
    margin-bottom: 100px;
    margin-right: auto;
    margin-left:  auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 100px 175px 0 175px;
    border-color: #aeacba transparent transparent transparent;
}
#whoweare-text-container {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
#whoweare-text-container-inner {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 660px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.whoweare-pic-container {
    height: 200px;
    width: 100%;
    margin-top: 40px;
}

.whoweare-pic-container-inner {
    height: 200px;
    width: 660px;
    margin-right: auto;
    margin-left: auto;
}

.whoweare-pic {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    width: 200px;
    background-image:url('placeholder.png');
}
.whoweare-circle {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100px 100px 100px 100px;
    background-color: #0f75bc;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.whoweare-circle:hover {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100px 100px 100px 100px;
    background-color: #0f75bc;
    opacity: .8;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
.whoweare-circle h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 75px 0 0 0;
}
.whoweare-circle h3 {
    text-align: center;
    font-family: "georgia";
    font-size: 15px;
    margin: 0 0 0 0;
}
#whoweare hr {
    margin-top: 0;
    border: 0;
    height: 2px;
    background: #fff;
    margin-bottom: 40px;
}


/*
__        ___   _    _  _____  __        _______   ____   ___  
\ \      / | | | |  / \|_   _| \ \      / | ____| |  _ \ / _ \ 
 \ \ /\ / /| |_| | / _ \ | |    \ \ /\ / /|  _|   | | | | | | |
  \ V  V / |  _  |/ ___ \| |     \ V  V / | |___  | |_| | |_| |
   \_/\_/  |_| |_/_/   \_|_|      \_/\_/  |_____| |____/ \___/ 
*/


#whatwedo {
    height: 650px;
    background-color: #0f75bc;
}
#whatwedo h1 {
    margin-top: -50px;
    font: 50px 'LaneUpperRegular', Arial, sans-serif;
    letter-spacing: 0;
    text-align: center;
}
#whatwedo-triangle {
    margin-bottom: 100px;
    margin-right: auto;
    margin-left:  auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 100px 175px 0 175px;
    border-color: #0f75bc transparent transparent transparent;
}
.project-pic-container {
    height: 850px;
    width: 100%;
    margin-top: 60px;
}
.project-pic-container-inner {
    height: 300px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.project-pic-container-inner-inner {
    float: left;
    height: 250px;
    width: 230px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}
.project-pic-container-inner-inner:hover {
background-color: #D6D6D6;
}
.project-pic {
    font: 40px 'icomoon', Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    /*background-image:url('adhesion.png');*/
}
.project-text {
    text-align: center;
    margin-top: 20px;
    height: 175px;
    width: 210px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}
.project-text hr {
    margin-top: 0;
    border: 0;
    height: 1px;
    background: #0f75bc !important;
}
.project-text h1 {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 25px !important;
}

#whatwedo hr {
    margin-top: 0;
    border: 0;
    height: 2px;
    background: #fff;
}

/*
  ____ ___  _   _ _____  _    ____ _____   _   _ ____  
 / ___/ _ \| \ | |_   _|/ \  / ___|_   _| | | | / ___| 
| |  | | | |  \| | | | / _ \| |     | |   | | | \___ \ 
| |__| |_| | |\  | | |/ ___ | |___  | |   | |_| |___) |
 \____\___/|_| \_| |_/_/   \_\____| |_|    \___/|____/ 

*/




#contactus {
    height: 500px;
}
#contactus h1 {
    margin-top: -50px;
    font: 50px 'LaneUpperRegular', Arial, sans-serif;
    letter-spacing: 0;
    text-align: center;
}
#contactus-icons {
    width: 100%;
    font: 80px 'icomoon', Arial, sans-serif;
    text-align: center;
}
#contactus-icons a {
    width: 100%;
    font: 80px 'icomoon', Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
#button-container {
    height: 64px;
    width: 100%;
    margin-top: 50px;
}
#button-container-inner {
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    width: 374px;
}
.button {
    display: inline-block;
    padding: 22px 39px 20px;
    border: 1px solid #494949;
    border-radius: 5px;

    background-color: #555;
    background-image: linear-gradient(0deg, #525252, dimgray);

    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.4),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 #2e2e2e,
        0 3px 6px 0 rgba(0,0,0,0.4);
    transition: 
        box-shadow 230ms ease-in-out,
        transform 230ms ease-in-out,
        border-color 230ms ease-in-out;

    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.27);

    vertical-align: middle;
    cursor: pointer;
}
.button:hover {
    border-color: rgba(73,73,73,0.5);
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.6),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0.3),
        0 2px 0 0 #2e2e2e,
        0 3px 8px 0 rgba(0,0,0,0.4);
}
.button:active {
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0),
        inset 0 1px 7px -1px rgba(0,0,0,0.35),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 #2e2e2e,
        0 3px 8px 0 rgba(0,0,0,0);
    transform: translate(0px, 2px);
}

/*
 _____ ___   ___ _____ _____ ____  
|  ___/ _ \ / _ |_   _| ____|  _ \ 
| |_ | | | | | | || | |  _| | |_) |
|  _|| |_| | |_| || | | |___|  _ < 
|_|   \___/ \___/ |_| |_____|_| \_\

*/

#footer {
    height: 30px;
}
#footer-content {
    height: 25px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}