@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArmataRegular';
    src: url('fonts/Armata-Regular-webfont.eot');
    src: url('fonts/Armata-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Armata-Regular-webfont.woff') format('woff'),
         url('fonts/Armata-Regular-webfont.ttf') format('truetype'),
         url('fonts/Armata-Regular-webfont.svg#ArmataRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PacificoRegular';
    src: url('fonts/Pacifico-webfont.eot');
    src: url('fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Pacifico-webfont.woff') format('woff'),
         url('fonts/Pacifico-webfont.ttf') format('truetype'),
         url('fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700,300);
@font-face{
  font-family : "handwriting";
 
  src : url('journal.eot');
  src : url('journal.eot?') format('eot'),
        url('journal.woff') format('woff'),
        url('journal.ttf') format('truetype');
}
 
@font-face{
  font-family : "typewriter";
 
  src : url('veteran_typewriter.eot');
  src : url('veteran_typewriter.eot?') format('eot'),
        url('veteran_typewriter.woff') format('woff'),
        url('veteran_typewriter.ttf') format('truetype');
}
 
body {
  font  : 21px sans-serif;
 
  padding : 2em;
  margin  : 0;
 
  background : white;
}
 
form {
  position: relative;
 
  width  : 740px;
  height : 498px;
  margin : 0 auto;
 
  background: #FFF url(background.jpg);
}



/*html, body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}*/

a {
    text-decoration: none;

}
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}




h1 {
  position : absolute;
  left : 415px;
  top  : 185px;
  
  font : 1em "typewriter", sans-serif;
}
 
#from {
  position: absolute;
  left : 398px;
  top  : 235px;
}
 
#reply {
  position: absolute;
  left : 390px;
  top  : 285px;
}
 
#message {
  position: absolute;
  left : 20px;
  top  : 70px;
}
label {
  font : .8em "typewriter", sans-serif;
}
input, textarea {
  font    : .9em/1.5em "handwriting", sans-serif;
 
  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;
 
  background: none;
}
input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}
input {
    height: 2.5em; /* for IE */
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
}
textarea {
  display : block;
 
  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 360px;
 
  resize  : none;
  overflow: auto;
}
button {
  position     : absolute;
  left         : 440px;
  top          : 360px;
 
  padding      : 5px;
 
  font         : bold .6em sans-serif;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;
 
  cursor       : pointer;
 
-webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
     -o-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg);
}
 
button:after {
  content: " >>>";
}
 
button:hover,
button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}

/*                                       
 _   _ _____    _    ____  _____ ____  
| | | | ____|  / \  |  _ \| ____|  _ \ 
| |_| |  _|   / _ \ | | | |  _| | |_) |
|  _  | |___ / ___ \| |_| | |___|  _ < 
|_| |_|_____/_/   \_|____/|_____|_| \_\

*/                                     



#header-wrapper {
    width: 450px;
    height: 150px;
}
#header-logo {
    float: left;
    background-image:url('../text-black.png');
    background-repeat:no-repeat;
    background-position: left;
    background-origin: content-box;
    height: 150px;
    width: 400px;
    margin-left: 100px;
}
#header-content {
    float: left;
    width: 700px;
    color: white;
    height: 100%;
    margin-top: 93px;
    margin-left: 20px;
}
#header-content h1 {
    font: 40px 'BebasNeueRegular', Arial, sans-serif;
    height: 50px;
    color: black;
}
#header-content p {
    text-align:justify;
    font: 19px 'ArmataRegular', Arial, sans-serif;
}
#header-content a {
    font-weight: 10px;
    font: 20px 'PacificoRegular', Arial, sans-serif;
    letter-spacing: 0;
}

#header {
    height: 200px;
    width: 100%;
}



/*                  
 ____   ___  ______   __
| __ ) / _ \|  _ \ \ / /
|  _ \| | | | | | \ V / 
| |_) | |_| | |_| || |  
|____/ \___/|____/ |_|  
                        
*/


#mainbody {
    height: 100%;
    width: 100%;
    background-color: white;
    margin-top: 50px;


}
#mainbody-inner {
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
        padding-top: 40px;
    padding-bottom: 40px;
    width: 1196px;
    height: 565px;
    border-radius: 30px 30px 30px 30px;
}

/*
 _____ ___   ___ _____ _____ ____  
|  ___/ _ \ / _ |_   _| ____|  _ \ 
| |_ | | | | | | || | |  _| | |_) |
|  _|| |_| | |_| || | | |___|  _ < 
|_|   \___/ \___/ |_| |_____|_| \_\

*/

#footer {
    height: 30px;
}
#footer-content {
    height: 25px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}